body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #080F0F;
}

h1 {
    color: #F35B04;
    margin-left: 10px;
    font-family: Arial, sans-serif;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
  }

#searchBar {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    height: 50px;
    width: 500px;
    padding: 0px;
}

#searchInput {
    width: 400px;
    background-color: #3B3B3B;
    border-color: #3B3B3B;
}
#searchButton {
    background-color: #6B6B6B;
    border-color: #6B6B6B;
    height: 52px;
}

#modal {
    width: 800px;
}

#gameInfo {
    width: 800px;
    height: 500px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

h4 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}


p {
    display: flex;
    justify-content: center;
}

#cardHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    height: 50px;
    width: 1000px;
    color: #F7B801;    
}

#cardList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 0px;
    padding:10px 20px 10px 0;
    font-family: Arial, sans-serif;
}

.img {
    max-width: 350px;
    border-radius: 10px;
}

.cardH3 {
    font-size: 17px;
    text-align: center;
    color: #F7B801;
    margin: 10px 20px 40px 20px
}

.gameCard :hover {
    transform: scale(1.1);
}