body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #080F0F;
}

h1 {
    color: #F35B04;
    margin-left: 10px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
  }

#searchBar {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    height: 50px;
    width: 500px;
}

#searchInput {
    width: 400px;
}

#catagoryList {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    color: #F7B801;

}

.cataItem {
    width: 120px;
    margin: 20px 0px 20px 0px ;
}

#cataAndCards {
    display: flex;
}

#cataTitle {
    position: sticky;
    top: 130px;
}

#listCata {
    position: sticky;
    top: 180px;
    text-align: center;
    padding: 0px;
    margin: 0;
}

.cataItem {
    font-size: 25px;
    list-style: none;
}

#cardHeader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    height: 50px;
    width: 1000px;
    color: #F7B801;    
}

#cardList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 0px;
    padding:10px 20px 10px 0;
}

.img {
    max-width: 350px;
}

.cardH3 {
    font-size: 20px;
    text-align: center;
    color: #F7B801;
    margin: 10px 20px 40px 20px
}